@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/legacy';

/* Import main.css last to ensure its styles are applied */
@import '../lib/main.css';